.item {
    width: 26%;
    margin-bottom: 50px;
    background: var(--whiteColor);
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    object-fit: cover;
    height: 200px;
}

.item img:hover {
    transform: scale(1.1);
    border-radius: 10px 10px 0 0;
}

h2, main p, main b {
    margin: 10px 20px;
    color: var(--blackColor);
}

main b {
    color: #5fa36a;
}